# Chặn thực thi mã (chỉ cho phép truy cập file ảnh tĩnh trong thư mục này)
<FilesMatch "\.(php|php\d|phtml|pl|py|cgi|sh)$">
  Require all denied
</FilesMatch>
Options -ExecCGI
AddHandler cgi-script .php .php3 .php4 .php5 .phtml .pl .py .cgi .sh
